// Colors
$dark-grey : #333;
$grey : #666;
$blue : #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
// Font Size
$font-size-l: 1.8rem;
$font-size-s: 1.4rem;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.4rem;
$xl-size: 4.8rem;
$desk-breakpoint: 45rem;